# Docker / PostgreSQL
DATABASE_NAME=strapi
DATABASE_USERNAME=admin-strapi
DATABASE_PASSWORD=admin-strapi

# Strapi API (used by Next.js web app)
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
